.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin:auto;
    width: 600px;
    height: 100px;
    margin-bottom: 60px;
    margin-top: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: #d4f1ffbd;
    background-image: -webkit-linear-gradient(1160deg, #d4f1ff66 0%, #87e5dc5f 79%);
    background-image: -moz-linear-gradient(160deg, #d4f1ff66 0%, #87e5dc5f 79%);
    background-image: -o-linear-gradient(160deg, #d4f1ff66 0%, #87e5dc5f 79%);
    background-image: linear-gradient(160deg, #d4f1ff66 0%, #87e5dc5f 79%);

}

.title{
    font-size: 39px;
}

.icone{
    width:60px;
    margin-left: 20px;
}