header h1{
    margin-left:30px;
    float: left;
    font-size: 39px;
}

header{
    border: 1px solid black;
    margin:auto;
    width: 600px;
    height: 100px;
    margin-bottom: 60px;
    border-radius: 15px 15px 15px 15px;
    z-index: 1;
    position: relative;
    background-color: #d4f1ffbd;
    background-image: -webkit-linear-gradient(1160deg, #d4f1ff66 0%, #87e5dc5f 79%);
    background-image: -moz-linear-gradient(160deg, #d4f1ff66 0%, #87e5dc5f 79%);
    background-image: -o-linear-gradient(160deg, #d4f1ff66 0%, #87e5dc5f 79%);
    background-image: linear-gradient(160deg, #d4f1ff66 0%, #87e5dc5f 79%);

    

}

.icone{
    width:60px;
    float: right;
    margin-right:60px;
    margin-top:10px;
    z-index: 1;
    position: relative;
}