.body{
  width: 400px;
  height: 300px;
  border: 2px solid #4f6365;
  box-shadow: 10px 10px 30px rgb(93, 154, 175);
  margin: auto;
  border-radius: 40px 40px 40px 40px;
  background-color: #b6e7e48f;

}

.buttonsList{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  margin-top: 55px;
  font-size:27px;
  font-family: 'Times New Roman', Times, serif;
  width:280px;
  height: 50px;
  border-radius: 20px 20px 20px 20px;
  background-color: #74EBD5;
  background-image: -webkit-linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  background-image: -moz-linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  background-image: -o-linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.buttons:hover{
  box-shadow: 5px 5px 5px #57bca9;
  width: 281px;
}

.buttons a {
  text-decoration: none;
}
